*{
  box-sizing:border-box;
  margin: 0;
  padding: 0;
}

.wrapper{
  width:100%;
  height:100vh;
  border-left:10px solid black;
  border-right:10px solid black;
  background-color: yellow;
  position:relative;
  display: flex;
  justify-content: center;
  align-items: center;

}

.ball_wrapper{
  width: 35px;
  height: 35px;
  background-color: red;
  border-radius: 1px solid red;
  border-radius: 50%;
  position: absolute;
  /*top: -10%;
  left: 50%;*/
}

.main_button{
  width: 200px;
  height: 80px;

}
.main_button_hidden{
  display:none;
}
