*{
  box-sizing:border-box;
  margin: 0;
  padding: 0;

}

.wrapper{
  max-width:100%;
  height:100vh;
  border-left:70px solid black;
  border-right:70px solid black;
  border-bottom:85px solid black;
  background-color: yellow;
  position:relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.ball_wrapper{
  width: 210px;
  height: 210px;
  background-color: rgba(0,0,0,0);
  position: absolute;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  /*border:1px solid red;*/
}

.inner-ball_wrapper{
  background-color: red;
  width: 70px;
  height: 70px;
  border-radius: 1px solid rgba(0,0,0,0);
  border-radius: 50%;
}

.main_button{
  width: 200px;
  height: 80px;

}
.main_button_hidden{
  display:none;
}

.score{
  position: absolute;
  top:0;
  right:0;
  width: 70px;
  height:20px;
  color: white;
  background-color: green;
}
